h1{
  font-size: 3em;
}

body{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  text-align: center;
  background-color: #1D5B79;
  color: #F3AA60
}

.container{
  display: flex;
  justify-content: space-around;
  
}

button{
  height: 20px;
  background-color:#EF6262
}

.player1{


}

.player2{
  
}